@media (min-width: 280px) { 
  
header{
    background:linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
    background-size:cover;
    background-repeat: no-repeat;   
    width: 100%;
    height:500px;
}
    

.header-title{
    text-transform:uppercase;
    font-size: 70.10px;
    line-height: 44px;
    box-sizing: border-box;
    text-align:right!important;
}
.lineTxt{
    font-size: 20px ;
}
.tx{
    margin-right:80px;
}

.tx2{
    margin-right: 45px;
}

    
}


@media (min-width: 320px) { 
      
            .header-title{
                text-transform:uppercase;
                font-size: 70.10px;
                line-height: 44px;768
                box-sizing: border-box;
                text-align:right!important;
            }
            .lineTxt{
                font-size: 20px ;
            }
            .tx{
                margin-right:60px;
            }

            .tx2{
                margin-right: 30px;
            }
            
            
        header{
            background:linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
            background-size:cover;
            background-repeat: no-repeat;   
            width: 100%;
            height:500px;
        }
    
}


@media (min-width:360px) { 
    
    .header-title{
        text-transform:uppercase;
        font-size: 70.10px;
        line-height: 44px;
        box-sizing: border-box;
        text-align:right!important;
    }
    .lineTxt{
        font-size: 20px ;
    }
    .tx{
        margin-right:80px;
    }

    .tx2{
        margin-right: 45px;
    }
    
header{
    background:linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;   
    width: 100%;
    height:500px;
}
   
    
}


@media (min-width: 480px) { 
    .header-title{
        text-transform:uppercase;
        font-size: 70.10px;
        line-height: 43px;
        box-sizing: border-box;
        text-align:right!important;
    }
    .lineTxt{
        font-size: 20px ;
    }
    .tx{
        margin-right:150px;
    }

    .tx2{
        margin-right: 125px;
    }

    
header{
    background:linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;   
    width: 100%;
    height:500px;
}
   
    
}


@media (min-width: 576px) { 
    
header{
    background:linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;   
    width: 100%;
    height:550px;
}

.header-title{
    text-transform:uppercase;
    font-size: 90.10px;
    line-height: 60px;
    box-sizing: border-box;
    text-align:right!important;
}
.lineTxt{
    font-size: 20px ;
}
.tx{
    margin-right: 150px;
}

.tx2{
    margin-right: 115px;
}

   

 }



@media (min-width: 768px) { 
    .fftr{
        margin-top: -970px;
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url(../img/footer.jpg);
        background-size: 100% 100%;
        width: 100%;
        height: 990px;
        display: block;
    }
    .ull{
        padding: 0px!important;
       position: absolute;
       right:10%;
    
    }
    
header{
    background:linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;   
    width: 100%;
    height:500px;
}


.header-title{
    text-transform:uppercase;
    font-size: 90.0px;
    line-height: 58px;
    box-sizing: border-box;
    text-align:right!important;
}
.lineTxt{
    font-size: 20px ;
}
.tx{
    
    margin-right:35%;
}

.tx2{
    margin-right:30%;
}

   

 }



@media (min-width: 992px) { 
    .fftr{
        margin-top: -640px;
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url(../img/footer.jpg);
        background-size: 100% 100%;
        width: 100%;
        height: 690px;
        display: block;
    }
    
.ull{
    padding: 0px!important;
   position: absolute;
   left: 25%;

}


header{
    background:linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
    background-size:cover;
    background-repeat: no-repeat;   
    width: 100%;
    height:800px;
}
.header-title{
    text-transform:uppercase;
    font-size: 130.10px;
    line-height: 90px;
    box-sizing: border-box;
    text-align:right!important;
}
.lineTxt{
    font-size: 20px ;
}
.tx{
    margin-right: 95px;
}

.tx2{
    margin-right: 55px;
}



 }



@media (min-width: 1200px) { 
    .fftr{
        margin-top: -640px;
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url(../img/footer.jpg);
        background-size: 100% 100%;
        width: 100%;
        height: 690px;
        display: block;
    }
.ull{
    padding: 0px!important;
   position: absolute;
   left: 19%;

}

header{
    background:linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;   
    width: 100%;
    height:690px!important;
}
.header-title{
    text-transform:uppercase;
    font-size: 130.10px;
    line-height: 90px;
    box-sizing: border-box;
    text-align:right!important;
}
.lineTxt{
    font-size: 20px ;
}
.tx{
    margin-right: 95px;
}

.tx2{
    margin-right: 55px;
}



 }


 

@media (min-width: 1280px) { 
    .fftr{
     
    }
    
header{
    background:linear-gradient(rgba(0, 0, 0, 0.116),rgba(0, 0, 0, 0.041)), url(../img/bg1.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;   
    width: 100%;
    height:800px;
}
    .ull{
        padding: 0px!important;
       position: absolute;
       left: 18%;
    
    }
  .headerBox{
      width: 500px;
  }
    .header-title{
        text-transform:uppercase;
        font-size: 130.10px;
        line-height: 90px;
        box-sizing: border-box;
        text-align:right!important;
    }
    .lineTxt{
        font-size: 20px ;
    }
    .tx{
        margin-right: 95px;
    }

    .tx2{
        margin-right: 55px;
    }


     }